* {
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;
}

:root {
    background: white;
} 

body {
    margin: 0;
}

.header {
    background-color: plum;
    font-size: 20px;
}

h1 {
    margin-left: 10px;
}

.navbar {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.title {
    display: flex;
    justify-content: start;
}

.navbar li {
    display: inline;
}

section {
    height: 750px;
}

.herobanner {
    background-color: lightgray;
}

.footer {
    position: fixed;
    text-align: center; 
}